$colors: (
	'dark': #121111,
	'light': #f8f8f8,
	'primary': #fdd110,
	'secondary': #ea1c5c
);

$fonts: (
	'base': Helvetica Neue,
	'serif': Georgia
);

$tints: (
	'high': 70,
	'medium': 40,
	'low': 10
);

$sizes: (
	'300': 10,
	'400': 16,
	'500': 20,
	'600': 25,
	'700': 31,
	'800': 39,
	'900': 48
);

